@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.body {
    background-size: 100vh;
}

.row {

    font-family: "Short Stack";
}

.img {
    margin-left: 13vh;
}
.save {
background-image: url(/images/spec.png);
background-size: cover;

}
.sav {
    background-color: #2D85DE;
}
.box{
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 8px 0px;
padding: 10px;
border-radius: 10px;
height: 70%;
width: 50%;
margin: 0 auto;
}

.h1 {
    margin-left: 50vh;
    margin-bottom: 7vh;
    margin-top: 3vh;
}
.bzn {
    display: grid;
}

.form-group {
    padding: 4 px;
}
