@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.boby {
    font-family:'Short Stack', 'DM Sans', 'sans-serif';
     background-image: url("/images/spec.png" );
     font-size: large;
   
}
.pagemodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.82);
}
/* loader */
.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.sav{
    display: flex;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 8px 0px;
    border-radius: 29px;
    block-size: 450px;
    justify-content: space-around;
    padding-block: 5px;
    margin-block: 5px;
    margin-left: 20rem;
}
.spin {
    display: none;
}

.sav .btn {
    border-radius: 0.4rem;
    
}

.dif {
    display: inline-grid;
}

.h4 {
    margin-right: -20vh;
}

.form-group {
    width: 400px;
}

.bsn {
    border-radius: 0.2rem;
    margin-right: -20vh;    
}
.bzn {
    display: grid;
}

.img {
    block-size: 100vh;
    width: 60vh;
}


    @media screen and (min-height: 650px) {
        .img  {
          display: none;  
      }
      .sav{
        display: contents;
        border-radius: 29px;
        block-size: 405px;
        justify-content: center;
        padding-block: 9px;
        margin-block: 5px;
        margin-left: 11rem;
      }
      
.hgc{
    width: 86%;
 }

 .bzn {
    block-size: 40px;
    width: 85.5%;
 }

.bsn {
    width: 40vh;
    margin-right: -14vh;
    margin-left: 5vh;
}


.dif {
    margin-left: -22vh;
     }
    }